@import 'tailwindcss';

@theme {
  --color-background: #2b2b2b;
  --color-spot-color: #66e2ff;
  --color-reading-color: #66e2ff;
  --color-metric-label: #88c8ff;
  --color-darker-shade: rgb(13, 60, 88);
  --color-text-bg: rgb(13, 60, 88);
  --color-primary: rgb(19, 94, 158);
  --color-card: rgb(0, 30, 47);
  --color-active: rgb(48, 160, 255);
  --color-inactive: rgb(255, 255, 255, 0.08);
  --font-quicksand: 'Quicksand', sans-serif;
  --color-footer-card-border: #1a96d7;
  --color-ethbtc: rgb(20, 114, 158);
}

@layer utilities {
  @keyframes valueUpdates {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}
