@import 'tailwindcss';

@theme {
  --color-background: #2b2b2b;
  --color-spot-color: #66e2ff;
  --color-darker-shade: rgb(13, 60, 88);
  --color-text-bg: rgb(13, 60, 88);
  --color-primary: rgb(19, 94, 158);
}

@layer utilities {
}
